In [1]:
import pandas as pd
import numpy as np

In [2]:
np.set_printoptions(suppress=True, precision=2)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
df = pd.read_csv("files/003.csv")

In [4]:
df.head()

   target  a  b  c   d   e  f  g  h
0  151400  2  2  3   7  37  0  3  0
1  286000  4  4  6  16  64  0  6  0
2  172200  2  2  4  24  16  2  3  0
3  141400  4  4  4   0  32  1  4  0
4  100800  3  3  4   8   8  0  4  0

In [5]:
X = df.drop('target', axis=1)

In [6]:
y = df['target']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
X_train.head()

      a   b   c    d    e  f   g  h
5     0   0   0    0    4  0   0  0
22   10  10  10   80   80  0  10  0
196  24  24  24    0  192  6  24  0
110   0  18   8  110   44  0   0  0
12   30  10  10   40   40  0   0  0

In [10]:
y_train.head()

5        9600
22     634000
196    848400
110    612800
12     456000
Name: target, dtype: int64

In [11]:
%%time

from sklearn.neural_network import MLPRegressor

model = MLPRegressor(hidden_layer_sizes=14, max_iter=100000000, alpha=0.0001)
model.fit(X_train, y_train)

CPU times: user 12.2 s, sys: 0 ns, total: 12.2 s
Wall time: 12.3 s

MLPRegressor(hidden_layer_sizes=14, max_iter=100000000)

In [12]:
X_test

       a    b    c    d    e   f   g    h
64     0    0    0   24    0   0   0    0
135    4    4    6   14   74   0   6    0
153   60   20   10    4    8   0   0   60
189  200  240  120    0    0   0   0    0
253  160  200   32    0    0   0   0    0
198    0    0    0    0   24   0   0    0
144    0    0    0   40    0   0   0  100
180   80   40   20    0    8   0   0   80
256    6   12   18   12  144   0  12    0
15     0    0    0    0    0   0   0   80
244   28   28   16   24   96   0   0    0
139    6    6    8   16   16   0   8    0
124    9   15    3  108   60   0   0    0
103   16   24   16   16  128   0  10    0
8      0    0    0    8    0   0   0   30
166    8    8   16   96   64   8  12    0
45    40   20   10    0    4   0   0   40
199    0    0    0   48    0   0   0    0
59    12   12   18   48  192   0  18    0
264   30   30    6   90   96   0   6    0
176  120   40   40  160  160   0   0    0
55    20   40   10   40    0   0   0    0
7      2    2    2   20   60   5   2    0
76    90   30   15    6   12   0   0   90
252  100  100   20    0    0   0   0    0
83   150  180   90    0    0   0   0    0
190   40   80   20   80    0   0   0    0
136    8    8   12   32  128   0  12    0
188   80  120  160    0    0   0   0    0
101   25   25    5    0    0   0   0    0
96     5    5    5   25   40   0   0    0
74    60   30   15    0    6   0   0   60
261    0   54   24  330  132   0   0    0
215   60   60   60  480  480   0  60    0
227    6   10    2   72   40   0   0    0
226    6   14    8   80   64   0   0    0
92     3    5    1   36   20   0   0    0
159   40   60   80    0    0   0   0    0
219   60  120   30  120    0   0   0    0
182  120   40   20    8   16   0   0  120
116    0    0    0    6   14   0   2    0
27    10   30    5   40    0   0   0    0
154   60   20   10   20   80   0   0   60
230   10   10    2    4   16   0   0    0
236   50   50   10    0    0   0   0    0
37     0    0    0   16    0   0   0   60
187    0   60    0  320    0   0  32    0
134  120  150   24    0    0   0   0    0
20     0    0    0   50   50   1   0    0
240    4    8   12    8   96   0   8    0
181   80   40   20   16   80   0   0   80
207    0    0    0    0    0   0   0  240
206  240  180  180  600  600   0   0    0
146   16   40   40   76   32  20  20    0

In [13]:
y_pred = model.predict(X_test)
y_pred

array([  73478.44,  307317.29,  620017.89, 2505366.48, 1760537.05,
         61544.1 ,  424331.39,  892752.16,  590047.48,  247926.96,
        624329.69,  209109.02,  580270.69,  645454.76,  118689.12,
        645602.2 ,  448473.84,  142761.28,  859195.77,  812640.13,
       1740812.97,  433015.3 ,  253691.57,  927929.08,  989409.4 ,
       1880073.73,  861835.09,  574195.68, 1603704.91,  250498.98,
        238744.23,  670613.  , 1620475.79, 3575150.04,  388245.63,
        512994.33,  196220.57,  803950.21, 1290654.88, 1235840.27,
         62861.22,  321341.02,  838252.5 ,  152496.49,  496802.45,
        233182.72, 1324232.52, 1321451.67,  270766.92,  394763.49,
       1110986.78,  735389.88, 5843227.24,  861059.8 ])

In [14]:
y_test_vs_pred = pd.DataFrame({'test': y_test, 'pred': y_pred})
y_test_vs_pred

        test       pred
64     86400   73478.44
135   302800  307317.29
153   605600  620017.89
189  2416000 2505366.48
253  1712000 1760537.05
198    57600   61544.10
144   444000  424331.39
180   867200  892752.16
256   571200  590047.48
15    240000  247926.96
244   627200  624329.69
139   201600  209109.02
124   650400  580270.69
103   630800  645454.76
8     118800  118689.12
166   688800  645602.20
45    433600  448473.84
199   172800  142761.28
59    858000  859195.77
264   858000  812640.13
176  1824000 1740812.97
55    448000  433015.30
7     261800  253691.57
76    908400  927929.08
252   960000  989409.40
83   1812000 1880073.73
190   896000  861835.09
136   572000  574195.68
188  1520000 1603704.91
101   240000  250498.98
96    250000  238744.23
74    650400  670613.00
261  1838400 1620475.79
215  3804000 3575150.04
227   433600  388245.63
226   561600  512994.33
92    216800  196220.57
159   760000  803950.21
219  1344000 1290654.88
182  1211200 1235840.27
116    60400   62861.22
27    340000  321341.02
154   836000  838252.50
230   148800  152496.49
236   480000  496802.45
37    237600  233182.72
187  1499200 1324232.52
134  1284000 1321451.67
20    303000  270766.92
240   380800  394763.49
181  1097600 1110986.78
207   720000  735389.88
206  6168000 5843227.24
146   868800  861059.80

In [15]:
from sklearn import metrics
import numpy as np

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 40970.53709242505
Mean Squared Error: 5450754565.895838
Root Mean Squared Error: 73829.22568939645